@*@{
        ViewBag.Title = "Home Page";
    }*@
@section featured {
    <section>
        <img alt="imgRestaurante" src="~/Images/imgRestaurante.png" width="20%" height="20%" style="margin-left:auto; margin-right:auto; display:block" />
        <div class="divCenter">
            <h2>@ViewBag.Message</h2>
        </div>
    </section>
}

